/* ============================================= */
/*    Base styles                                */
/* ============================================= */

* {
    font-family       : $font-family--primary;
    font-size         : $base__font-size;
    color             : #777;
    box-sizing        : border-box;
  }
  
  p {
    line-height       : $base__line-height;
  }
  
  a {
    text-decoration   : none;
  }
  
  
  /* ============================================= */
  /*    Typography                                 */
  /* ============================================= */
  
  .headline-primary {
    color             : #58e1c1;
    margin-left       : em(10px);
  }
  
  .headline-secondary {
    font-weight       : $font-weight--light;
    color             : #777;
  }
  
  .link {
    color             : #51ddfc;
    font-weight       : $font-weight--bold;
  }
  
  .blockquote {
    font-size         : 1.5em;
    font-weight       : $font-weight--light;
    font-style        : italic;
    margin-left       : em(20px);
    padding-left      : em(20px);
    border-left       : em(8px) solid #58e1c1;
    border-radius     : em(5px);
  }
  
  